<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mathbeta.rational.master.mapper.AppMapper">

    <resultMap type="com.mathbeta.rational.common.entity.App" id="app">
        <result column="id" property="id" javaType="java.lang.String"/>
        <result column="name" property="name" javaType="java.lang.String"/>
        <result column="image" property="image" javaType="java.lang.String"/>
        <result column="replicas" property="replicas" javaType="java.lang.Integer"/>
        <result column="cluster_id" property="clusterId" javaType="java.lang.String"/>
        <result column="create_time" property="createTime" javaType="java.util.Date"/>
        <collection column="id" property="networks" select="queryNetworks"/>
        <collection column="id" property="volumes" select="queryVolumes"/>
    </resultMap>

    <resultMap type="com.mathbeta.rational.common.entity.Network" id="network">
        <result column="id" property="id" javaType="java.lang.String"/>
        <result column="name" property="name" javaType="java.lang.String"/>
        <result column="cluster_id" property="clusterId" javaType="java.lang.String"/>
        <result column="ip_range" property="ipRange" javaType="java.lang.String"/>
        <result column="create_time" property="createTime" javaType="java.util.Date"/>
    </resultMap>

    <resultMap type="com.mathbeta.rational.common.entity.Volume" id="volume">
        <result column="id" property="id" javaType="java.lang.String"/>
        <result column="name" property="name" javaType="java.lang.String"/>
        <result column="url" property="url" javaType="java.lang.String"/>
        <result column="create_time" property="createTime" javaType="java.util.Date"/>
        <result column="container_path" property="containerPath" javaType="java.lang.String"/>
    </resultMap>


    <sql id="column">
        t.id,t.name,t.image,t.replicas,t.cluster_id,t.create_time
    </sql>

    <!-- 查询应用所属的networks -->
    <select id="queryNetworks" resultMap="network">
        select n.* from ra_network n, ra_app_network an where an.app_id=#{value} and an.network_id=n.id
    </select>

    <!-- 查询应用所属的networks -->
    <select id="queryVolumes" resultMap="volume">
        select v.*, av.container_path from ra_volume v, ra_app_volume av where av.app_id=#{value} and av.volume_id=v.id
    </select>

    <!-- 保存 -->
    <insert id="save" parameterType="com.mathbeta.rational.common.entity.App">
		insert into ra_app
		  (id,name,image,replicas,cluster_id,create_time)
			values
		  (#{id},#{name},#{image},#{replicas},#{clusterId},now())
	</insert>

    <!--根据id查询数据-->
    <select id="queryById" resultMap="app">
        select
        <include refid="column"/>
        from ra_app t
        where t.id = #{id}
    </select>

    <!--获取数据总数-->
    <select id="queryTotal" parameterType="java.util.Map" resultType="int">
        select count(1) from ra_app t
        <include refid="sql_query"/>
    </select>

    <!-- 查询所有数据-->
    <select id="queryByParams" parameterType="java.util.Map" resultMap="app">
        select
        <include refid="column"/>
        from ra_app t
        <include refid="sql_query"/>
        order by t.create_time desc
        <if test="start >= 0 and pageSize > 0">
            limit #{start}, #{pageSize}
        </if>
    </select>

    <!--分页查询-->
    <!--<select id="queryRows" parameterType="java.util.Map" resultMap="app">
        select
        <include refid="column"/>
        from ra_app t
        <include refid="sql_query"/>
        order by t.create_time desc
        limit #{start}, #{pageSize}
    </select>-->

    <!--更新-->
    <update id="update" parameterType="com.mathbeta.rational.common.entity.App">
        update ra_app t
        <include refid="sql_update"/>
        where t.id = #{id}
    </update>

    <!--删除-->
    <delete id="deleteById" parameterType="java.lang.String">
        delete from ra_app  where id = #{id}
    </delete>

    <!--查询条件-->
    <sql id="sql_query">
        <where>
            <if test="id != null  and id != '' ">
                <![CDATA[
		              t.id = #{id}
		             ]]>
            </if>
            <if test="name != null  and name != '' ">
                <![CDATA[
		              and t.name like CONCAT('%',#{name},'%')
		             ]]>
            </if>
            <if test="image != null  and image != '' ">
                <![CDATA[
		              and t.image like CONCAT('%',#{image},'%')
		             ]]>
            </if>

            <if test="replicas != null  and replicas != '' ">
                <![CDATA[
		              and t.replicas = #{replicas}
		             ]]>
            </if>
            <if test="clusterId != null  and clusterId != '' ">
                <![CDATA[
		              and t.cluster_id=#{clusterId}
		             ]]>
            </if>
        </where>
    </sql>


    <!--更新条件-->
    <sql id="sql_update">
        <set>
            <if test="name != null  and name != '' ">
                <![CDATA[
		              t.name = #{name},
            ]]>
            </if>
            <if test="image != null  and image != '' ">
                <![CDATA[
		              t.image = #{image},
		             ]]>
            </if>
            <if test="replicas != null  and replicas != '' ">
                <![CDATA[
		              t.replicas = #{replicas},
		             ]]>
            </if>
            <if test="clusterId != null  and clusterId != '' ">
                <![CDATA[
		              t.cluster_id = #{clusterId},
            ]]>
            </if>
        </set>
    </sql>
</mapper>