<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mathbeta.rational.master.mapper.ClusterMapper">

    <resultMap type="com.mathbeta.rational.common.entity.Cluster" id="cluster">
        <result column="id" property="id" javaType="java.lang.String"/>
        <result column="name" property="name" javaType="java.lang.String"/>
        <result column="coordinator_id" property="coordinatorId" javaType="java.lang.String"/>
        <result column="description" property="description" javaType="java.lang.Integer"/>
        <result column="create_time" property="createTime" javaType="java.util.Date"/>
    </resultMap>


    <sql id="column">
        t.id,t.name,t.coordinator_id,t.description,t.create_time
    </sql>

    <!-- 保存 -->
    <insert id="save" parameterType="com.mathbeta.rational.common.entity.Cluster">
		insert into ra_cluster
		  (id,name,coordinator_id,description,create_time)
			values
		  (#{id},#{name},#{coordinatorId},#{description},now())
	</insert>

    <!--根据id查询数据-->
    <select id="queryById" resultMap="cluster">
        select
        <include refid="column"/>
        from ra_cluster t
        where t.id = #{id}
    </select>


    <!--获取数据总数-->
    <select id="queryTotal" parameterType="java.util.Map" resultType="int">
        select count(1) from ra_cluster t
        <include refid="sql_query"/>
    </select>

    <!-- 查询所有数据-->
    <select id="queryByParams" parameterType="java.util.Map" resultMap="cluster">
        select
        <include refid="column"/>
        from ra_cluster t
        <include refid="sql_query"/>
        order by t.create_time desc
        <if test="start >= 0 and pageSize > 0">
            limit #{start}, #{pageSize}
        </if>
    </select>

    <!--分页查询-->
    <!--<select id="queryRows" parameterType="java.util.Map" resultMap="cluster">
    select
        <include refid="column"/>
        from ra_cluster t
        <include refid="sql_query"/>
        order by t.create_time desc
        limit #{start}, #{pageSize}
    </select>-->

    <!--更新-->
    <update id="update" parameterType="com.mathbeta.rational.common.entity.Cluster">
        update ra_cluster t
        <include refid="sql_update"/>
        where t.id = #{id}
    </update>

    <!--删除-->
    <delete id="deleteById" parameterType="java.lang.String">
        delete from ra_cluster  where id = #{id}
    </delete>

    <!--查询条件-->
    <sql id="sql_query">
        <where>
            <if test="id != null  and id != '' ">
                <![CDATA[
		              t.id = #{id}
		             ]]>
            </if>
            <if test="name != null  and name != '' ">
                <![CDATA[
		              and t.name=#{name}
		             ]]>
            </if>
            <if test="coordinatorId != null  and coordinatorId != '' ">
                <![CDATA[
		              and t.coordinator_id=#{coordinatorId}
		             ]]>
            </if>

            <if test="description != null  and description != '' ">
                <![CDATA[
		              and t.description = #{description}
		             ]]>
            </if>
        </where>
    </sql>


    <!--更新条件-->
    <sql id="sql_update">
        <set>
            <if test="name != null  and name != '' ">
                <![CDATA[
		              t.name = #{name},
            ]]>
            </if>
            <if test="coordinatorId != null  and coordinatorId != '' ">
                <![CDATA[
		              t.coordinatorId = #{coordinatorId},
		             ]]>
            </if>
            <if test="description != null  and description != '' ">
                <![CDATA[
		              t.description = #{description},
		             ]]>
            </if>
        </set>
    </sql>
</mapper>