<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mathbeta.rational.master.mapper.HostMapper">

    <resultMap type="com.mathbeta.rational.common.entity.Host" id="host">
        <result column="id" property="id" javaType="java.lang.String"/>
        <result column="cluster_id" property="clusterId" javaType="java.lang.String"/>
        <result column="ip" property="ip" javaType="java.lang.String"/>
        <result column="port" property="port" javaType="java.lang.Integer"/>
        <result column="hostname" property="hostname" javaType="java.lang.String"/>
        <result column="user_name" property="userName" javaType="java.lang.String"/>
        <result column="passwd" property="passwd" javaType="java.lang.String"/>
        <result column="create_time" property="createTime" javaType="java.util.Date"/>
        <result column="daemon_started" property="daemonStarted" javaType="java.lang.Boolean"/>
    </resultMap>


    <sql id="column">
        t.id,t.cluster_id,t.ip,t.port,t.hostname,t.user_name,t.passwd,t.create_time,t.daemon_started,t.registry_id
    </sql>

    <!-- 更新host registry -->
    <update id="updateHostRegistry">
        update ra_host set registry_id=#{registryId} where id=#{hostId}
    </update>

    <!-- 保存 -->
    <insert id="save" parameterType="com.mathbeta.rational.common.entity.Host">
		insert into ra_host
		  (id,cluster_id,ip,port,hostname,user_name,passwd,create_time,daemon_started)
			values
		  (#{id},#{clusterId},#{ip},#{port},#{hostname},#{userName},#{passwd},now(),#{daemonStarted})
	</insert>

    <!--根据id查询数据-->
    <select id="queryById" resultMap="host">
        select
        <include refid="column"/>
        from ra_host t
        where t.id = #{id}
    </select>


    <!--获取数据总数-->
    <select id="queryTotal" parameterType="java.util.Map" resultType="int">
        select count(1) from ra_host t
        <include refid="sql_query"/>
    </select>

    <!-- 查询所有数据-->
    <select id="queryByParams" parameterType="java.util.Map" resultMap="host">
        select
        <include refid="column"/>
        from ra_host t
        <include refid="sql_query"/>
        order by t.create_time desc
        <if test="start >= 0 and pageSize > 0">
            limit #{start}, #{pageSize}
        </if>
    </select>

    <!--分页查询-->
    <!--<select id="queryRows" parameterType="java.util.Map" resultMap="host">
        select
        <include refid="column"/>
        from ra_host t
        <include refid="sql_query"/>
        order by t.create_time desc
        limit #{start}, #{pageSize}
    </select>-->

    <!--更新-->
    <update id="update" parameterType="com.mathbeta.rational.common.entity.Host">
        update ra_host t
        <include refid="sql_update"/>
        where t.id = #{id}
    </update>

    <!--删除-->
    <delete id="deleteById" parameterType="java.lang.String">
        delete from ra_host  where id = #{id}
    </delete>

    <!--查询条件-->
    <sql id="sql_query">
        <where>
            <if test="id != null  and id != '' ">
                <![CDATA[
		              t.id = #{id}
		             ]]>
            </if>
            <if test="clusterId != null  and clusterId != '' ">
                <![CDATA[
		              and t.cluster_id=#{clusterId}
		             ]]>
            </if>
            <if test="ip != null  and ip != '' ">
                <![CDATA[
		              and t.ip=#{ip}
		             ]]>
            </if>

            <if test="port != null  and port != '' ">
                <![CDATA[
		              and t.port = #{port}
		             ]]>
            </if>
            <if test="hostname != null  and hostname != '' ">
                <![CDATA[
		              and t.hostname like CONCAT('%',#{hostname},'%' )
		             ]]>
            </if>
            <if test="daemonStarted != null  and daemonStarted != '' ">
                <![CDATA[
		              and t.daemon_started = #{daemonStarted}
		             ]]>
            </if>
        </where>
    </sql>


    <!--更新条件-->
    <sql id="sql_update">
        <set>
            <if test="clusterId != null  and clusterId != '' ">
                <![CDATA[
		              t.cluster_id = #{clusterId},
            ]]>
            </if>
            <if test="ip != null  and ip != '' ">
                <![CDATA[
		              t.ip = #{ip},
		             ]]>
            </if>
            <if test="port != null  and port != '' ">
                <![CDATA[
		              t.port = #{port},
		             ]]>
            </if>
            <if test="hostname != null  and hostname != '' ">
                <![CDATA[
		              t.hostname = #{hostname},
		             ]]>
            </if>
            <if test="userName != null  and userName != '' ">
                <![CDATA[
		              t.user_name = #{userName},
		             ]]>
            </if>
            <if test="passwd != null  and passwd != '' ">
                <![CDATA[
		              t.passwd = #{passwd},
		             ]]>
            </if>
            <if test="daemonStarted != null  and daemonStarted != '' ">
                <![CDATA[
		              t.daemon_started = #{daemonStarted},
		             ]]>
            </if>
        </set>
    </sql>
</mapper>